* { margin: 0px; padding: 0px; text-decoration:none; }
#pageouter { background-color: #EFF; background: #ffffff url("../art/paper2.jpg") top left repeat; line-height:18px;  }
#page2 {margin: 0px auto; padding: 0 0 10px 0px; width: 1180px;  }
#page3 {margin: 0px auto; padding: 0 0 10px 0px; width: 1180px;  }
#page {margin: 0px auto; width: 1180px; background: url("../art/edge3.png") 0 40px repeat-y; }
#content {float: left;padding: 0 0 0px 40px; width: 800px; }
#content2 {float: left;padding: 0 0 0px 0px; width: 800px; }
#content3 {float: left;padding: 0 0 0px 230px; width: 998px; }
#content4 {float: left;padding: 0 0 0px 0px; margin-left:140px; width: 998px; }
#content5 {float: left;padding: 0 20px 0px 60px; width: 760px; }
#content6 {float: left;padding: 0 0 0px 165px; width: 998px; }
#chg {color: rgb(114,0,172)} 
#sidebar{float:right; margin: 0 0 0px 0px; margin-right:60px; padding-bottom:54px; width: 270px;}
#footer {margin: 0px auto; clear: both;}
body {font: 8pt/16pt georgia;  color: #555753;  text-align: center; background: #fff url('images/headless_bg.jpg') repeat-x;}
#page {text-align: left;}
a {color:#0000cc;} 
a:hover {color:#cc0000;}
#sidebar a, .commentlist a, .postdetails a, .posttags a, #footer a, .postmetadata a, #commentform a {color:#7f7fe5;} /* this is the lighter, faux-transparent anchor color */
#sidebar a:hover, .commentlist a:hover, .postdetails a:hover, .posttags a:hover, #footer a:hover, .postmetadata a:hover, #commentform a:hover {color:#e17b7b;}
small {font-size: 10px; line-height:18px;}
h1, h2, h3, h5 {font: 8pt/16pt georgia;  color: #555753;  font-weight:normal;}
h2 {margin-bottom:18px;}
h3 {margin-bottom:4px;}
h5 {margin-left:200px;}
h1, h1 a {color:#999; font-size: 24px; line-height:36px; text-align: left;}
h1 a:hover {color:#666;}
h2 {font-size: 30px; line-height: 36px; font-weight:bold;}
h3 {font-size: 20px; line-height: 36px;font-weight:bold;}
h2, h2 a {color:#333;}
h2 a:hover {color:#666;}
h5 {font-size: 12px; line-height: 18px;}
#sidebar p {line-height:14px; margin-bottom:8px;}
#sidebar h2 {font-size: 16px; line-height:12px; margin:0px; font-weight:normal; color:#aaa;}
#sidebar ul {line-height:14px; list-style-type: disc; color:#777;}
#sidebar ul li {line-height:14px; list-style-type: disc; margin: 0 0 8px 0;}
#sidebar ul ul {line-height:14px; list-style-type:disc;}
#sidebar ul ul li {line-height:14px; list-style-type:disc; margin:0px;}
#sidebar ul ul, #sidebar ul ol {line-height:14px; margin: 0 0 0 12px;}
#sidebar ul ul ul, #sidebar ul ol {line-height:14px; margin: 0 0 0 12px;}
ol li, #sidebar ul ol li {list-style: decimal outside;}
#footer {background:#333;}
#footer #h1, #footer .description {font-family: 'Century Gothic', Helvetica, Verdana, Arial, Sans-Serif}
#footer p a, #footer h1 a, #footer ul a {color:#999;}
#footer p a:hover, #footer h1 a:hover, #footer ul a:hover {color:#fff;}
#footercontainer {background:url('images/headless_portrait.jpg') no-repeat center right; width:936px; text-align:left; margin: 0px auto; padding: 18px 0px; color:#666;}
#footer ul {display:block; padding:0px; margin-top:18px;}
#footer ul li {display:inline; font-weight:bold;}
#footer ul li a {margin-right:18px; border:0px;}
div#respond {background: #f8f8f8 url('images/headless_respondbg.jpg') repeat-x top; padding:17px; margin-top:36px; border:1px solid #eaeaea;}
#commentform input.text {width: 170px; line-height:18px; font-size:18px; margin: 9px 5px 0px 0px; background:#eaeaea url('images/headless_inputbg.jpg') repeat-x top; border:1px solid #dbdbdb;}
#commentform textarea {width: 646px;padding: 8px; background:#eaeaea url('images/headless_inputbg.jpg') repeat-x top; border:1px solid #dbdbdb; font-size: 12px; line-height: 18px; font-family: Helvetica, Verdana, Arial, Sans-Serif; color: #111; margin-bottom:9px;}
#commentform #submit {margin: 0;float: right;}
select {width: 130px;}
p img {max-width: 100%;}
img.centered {display: block;margin-left: auto;margin-right: auto;}
img.alignright {margin: 0 0 2px 18px;display: inline;}
img.alignleft {margin: 0 18px 2px 0;display: inline;}
.alignright {margin: 0 0 2px 18px; float: right;}
.alignleft {margin: 0 18px 2px 0; float: left}
.aligncenter, div.aligncenter {display: block;margin-left: auto;margin-right: auto;}
code {font-size: 14px; font-family:'Courier New', Courier, Fixed;}
blockquote {margin: 18px 30px 0 10px;padding-left: 20px;border-left: 5px solid #ddd;}
blockquote cite {margin: 5px 0 0;display: block;}
.center {text-align: center;}
.hidden {display: none;}
a img {border: none;}
p { 
  text-indent: 3em; 
}
body { background: white; color: black; }

#output { white-space: pre; white-space: -moz-pre-wrap; } /* Preserve line breaks, but wrap too if browser supports it */
h3 { margin-top: 0; margin-bottom: 0em; }
h3 + div { margin: 0; }

form { margin: 0; padding: 0; }
#input { width: 100%; border: none; padding: 0; overflow: auto; }

.input { color: blue; background: white; font: inherit; font-weight: bold; margin-top: .5em; /* background: #E6E6FF; */ }
.normalOutput { color: black; background: white; }
.print { color: brown; background: white; }
.error { color: red; background: white; }
.propList { color: green; background: white; }
.message { color: green; background: white; }
.tabcomplete { color: purple; background: white; }
  body{
	background:#ffffff;
	color:#000000;
	font-family:arial;
	font-size:90%;
}
  .wrap{width:800px; margin:0 auto;}
  canvas{border: 0px solid #0f0;}